<div class="container mt-3">
  <h1>About</h1>
  <p>
     This website is for displaying breweries and the beverages they make.
     This site uses one data source called Faker, this creates fake data to fill the database.
     The database has 2 tables in it, breweries and beer, they have a 1 to many relationship
     with eachother. 1 brewery can have many types of beer but a beer is specific to the brewery.
     The brewery table containes data such as an id, name, address, website, phone number and time stamps,
     the beer table holds data such as beer id, name, style, abv, time stamps, and a brewery_id to make
     a relationship with the brewery. The data that is actually present on the site will include
     the name, address phone-number, and website of the breweries and the name, style, abv,
     and brewery it is linked to.
  </p>
</div>
